body{
font-family:Arial;
margin:0;
padding:0;
min-height:100vh;
background-image:url("https://images.unsplash.com/photo-1604654894610-df63bc536371");
background-size:cover;
background-attachment:fixed;
background-color: #fcd3dafa;
}

header{
background:white;
color:#d81b60;
text-align:center;
padding:20px;
}

nav{
background:#d81b60;
text-align:center;
padding:10px;
}

nav button{
background:none;
border:none;
color:white;
margin:10px;
font-size:16px;
cursor:pointer;
}

section{
display:none;
padding:30px;
background-color: #ffe4e9;
min-height: calc(100vh - 120px);
box-sizing: border-box;
}

.activo{
display:block;
}

.card{
background:white;
padding:20px;
border-radius:10px;
max-width:900px;
margin:auto;
}

.servicios{
display:flex;
gap:20px;
flex-wrap:wrap;
justify-content:center;
}

.servicio{
background:white;
padding:15px;
border-radius:10px;
width:200px;
text-align:center;
box-shadow:0 0 10px rgba(0,0,0,0.2);
}

.servicio img{
width:100%;
border-radius:10px;
}

input,select{
padding:8px;
margin:5px;
}

button{
background:white;
color:#d81b60;
border:1px solid #d81b60;
padding:8px 15px;
cursor:pointer;
}

table{
width:100%;
border-collapse:collapse;
margin-top:10px;
}

th,td{
border:1px solid #ffc0cb;
padding:8px;
text-align:center;
}

th{
background:#ffc0cb;
color:#d81b60;
}